/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Chakra Petch", sans-serif;
    background-color: #FFF8F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100 vh;
    margin: 0;
    padding: 0;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5 rem;
    color: #5C3A21;
    text-align: center;
    letter-spacing: 0.2 rem;
}
h2 {
    font-size: 1.5 rem;
    color: #333333;
    text-align: center;
    letter-spacing: 0.2 rem;
}

/* Estiliza as seções da página */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3 rem;
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30 rem;
    border: none;
    padding: 1 rem;
    border-radius: 1.5 rem;
    margin-bottom: 1 rem;
    color: #333333;
    font-size: 1 rem;
    box-sizing: border-box;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8 rem 1.2 rem;
    border: none;
    border-radius: 1.5 rem;
    background-color: #F28C8C;
    color: #FFF8F0;
    font-size: 1 rem;
    cursor: pointer;
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #F4A261;
    box-shadow: 0 4 px 8 px rgba(0, 0, 0, 0.2);
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60 rem;
    height: 46 vh;
    overflow-y: auto;
    margin-top: 1 rem;
    padding: 1 rem;
    border-radius: 0.6 rem;
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: #FFF1F0;
    border-radius: 0.6 rem;
    padding: 1 rem;
    margin-bottom: 1 rem;
    box-shadow: 0 2 px 4 px rgba(0, 0, 0, 0.1);
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5 rem;
    color: #5C3A21;
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none;
    color: #B7E4C7;
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline;
}

/* Estiliza a descrição meta dentro dos itens de re*
